//- index.jade
//- Our default layout:
extends /build/layouts/default.jade
//- Overwrite Existing Variables in vars.jade
block vars
	-
		var pagetitle = 'Hinkelstone Festival'
		var permalink = ''
		var navActive = ''
		var asset = "../assets/img/"

//- Content comes here:
block content
	.maintenance
		h1 Maintenance
