//- index.jade
//- Our default layout:
extends /build/layouts/default.jade
//- Overwrite Existing Variables in vars.jade
block vars
	-
		var pagetitle = 'Hinkelstone Festival'
		var permalink = ''
		var navActive = ''
		var asset = "../assets/img/"

//- Content comes here:
block content
	.hero
		.bg.rellax(data-rellax-speed="-10")
		img(src=asset +"logo.png").logo.rellax(data-rellax-speed="-5")
		.clouds.rellax(data-rellax-speed="-9")
		.layer1.rellax(data-rellax-speed="-8")
		.layer2.rellax(data-rellax-speed="-5")
		.layer3
		.ball1.rellax(data-rellax-speed="-2")
		.ball2.rellax(data-rellax-speed="-5")
		.ball3.rellax(data-rellax-speed="-2")
		.bats
		.fog
		.stone
	.hr

	.lineup
		h2 Bands
		ul
			li The Echoturn
			li.small Widersacher aller Liedermacher
			li Unlimited Culture
			li Chuckamuck
			li Hope
		h2.margin DJs
		ul
			li Kurt Laubenheimer
			li Günni Ghetto 
			li Judo Mörmis
			li Bona
			li Yvonne
			li Maejer Minor
		h3.margin uvm.
		p.checkback Check back soon for more details.
	footer
		img(src=asset+"footer.jpg")